*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #333;
    --color2: #ffa500;
    --color3: #fff;
    --font1: Verdana, Geneva, Tahoma, sans-serif ;
}

html{
    scroll-behavior: smooth;
}

header{
    height: 60px;
    width: 100%;
    background: var(--color2);
    padding: 20px;
}
.logo{
    float: left;
    font-size: 24px;
    font-family: var(--font1);
    font-weight: bold;
    color: var(--color3);
}
.logo span{
    color: #333;
}

.nav1{
    float: right;
}
.nav1 ul{
    list-style: none;
} 
.nav1 ul li{
    display: inline-block;
    font-size: 24px;
}
.nav1 a{
    text-decoration: none;
    color: var(--color3);
    font-family: var(--font1);
    margin-right: 20px;
    text-transform: capitalize;
}
.nav1 a:hover{
    color: var(--color1);
}

main{
    height: calc(100vh - 60px);
    width: 100%;
    background-image: url(img/pizza1.jpg);
    background-size: cover;
}
.call{
    float: right;
    height: 300px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.461);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    font-family: var(--font1);
    margin-bottom: 30px;
}
.call p{
    text-align: center;
    margin-bottom: 40px;
}
.call a{
    height: 50px;
    width: 100px;
    background-color: var(--color2);
    color: var(--color3);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: calc(50% - 50px) ;
}
h2{
    text-align: center;
    background-color: var(--color2);
    font-variant: small-caps;
    font-size: 35px;
}
.sec{
    height: 600px;
    width: 100%;
    background-color: var(--color1);

}
.sec1{
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}
.item{
    height: 120px;
    width: 120px;
    background-color: var(--color2);
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
    
}
.item2{
    line-height: 180px;
    flex-basis: 220px;
    /* flex-grow: 2; */
    flex-shrink: 2;
    order: -4;
}
.item4{
    line-height: 50px;
    flex-basis: 220px;
    /* flex-grow: 4; */
    flex-shrink: 4;
    order: -6;
}
footer{
    height: 150px;
    width: 100%;
    background-color: var(--color2);
    text-align: center;
    padding: 20px;
}
footer p{
    text-align: center;
    font-family: var(--font1);
    font-size: 22px;
    margin-bottom: 20px;
}
footer i{
    color: var(--color3);
    font-size: 50px;
    letter-spacing: 20px;
}

.subir{
    height: 50px;
    width: 50px;
    background-color: var(--color2);
    border: 2px solid var(--color3);
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: var(--color3);
    box-shadow: 0 0 5px 2px var(--color1);
}