*{
    background-color: #262626;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
h1, h2, h3 {
    color: burlywood;
    font-style: italic;
    font-weight: bold;
}
h4 {
    color:chocolate;
    font-style: italic;
}