*{
    margin: 0;
    padding: 0; /* Estilos al contenedor */
    box-sizing: border-box; /* para que no sume los px del header */
}
/* declaracion de variable */
:root{
    --color1: #E4F0FF;
    --color2: #5E80C2;
    --color3: #96B5FB;
    --color4: #846CB7;
    --color5: #B24588;
    --font1: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 100px;
    width: 100%;
    background-color: var(--color1);
    padding: 20px;
}
.logo{
    float: left; /* alineado del elemento: left, center, right */
    font-size: 35px;
    font-family: var(--font1);
    font-weight: bold;
    color: var(--color5);
}
.logo span{
    color: var(--color2);
}
.nav1{
    float: right;
}
.nav1 ul{
    list-style: none; /* quita las viñetas */
}
.nav1 ul li{
    display: inline-block; /*para convertir en fila los li*/
    font-size: 20px;
}
.nav1 a{
    text-decoration: none; /* quita el underline al elemento a */
    color: var(--color5);
    font-family: var(--font1);
    font-weight: bold;
    margin-right: 16px; /* boxmodel separacion entre palabras */
    text-transform: capitalize; /* capitalizar la primer letra de cada palabara */
}
.nav1 a:hover{
    color: var(--color2); /* modificar el color al pasar el cursor */
}
.tipografias{
    background-color: var(--color5);
    color: var(--color1);
    /*height: 50vh;  50vh: ocupar el 50% de la pantalla del dispositivo */
    height: 400px; /* calcula el 50% de la pantalla - 150px del header */
    width: 100%;
}
.contenedores{
    background-color: var(--color4);
    color: var(--color1);
    height: 400px;
    width: 100%;
}
.posicionamientos{
    background-color: var(--color2);
    color: var(--color1);
    height: 400px;
    width: 100%;
}
.tipografias h2{
    color: var(--color5);
    height: 60px;
    width: 300px;
    background-color: var(--color4);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px;
}
.tipografias span{
    color: var(--color3);
}
.contenedores h2{
    color: var(--color4);
    height: 60px;
    width: 300px;
    background-color: var(--color5);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px;
}
.posicionamientos h2{
    color: var(--color2);
    height: 60px;
    width: 300px;
    background-color: var(--color3);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px;
}
.contenedores span{
    color: var(--color3);
}
.posicionamientos span{
    color: var(--color5);
}
h2{
    /* text-align: center;alinear el texto a la derecha */
    font-variant: small-caps;/* genera pequeñas mayúsculas */
    /* padding-bottom: 10px; */
    font-size: 28px;
}
p{
    padding-bottom: 8px;
}
section{
    padding: 20px;
    font-family: var(--font1);
    font-size: 15px;
    
}
footer{
    height: 150px;
    width: 100%;
    background-color: var(--color1);
    color: var(--color5);
    text-align: center;
    padding: 20px;
}
footer p{
    text-align: center;
    font-family: var(--font1);
    margin: 20px;
}
footer i{
    color: var(--color5);
    font-size: 30px;
    letter-spacing: 20px;
}
.subir{
    height: 50px;
    width: 50px;
    background-color: var(--color3);
    border: 2px solid var(--color5);
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    box-shadow: 0 0 5px 3px var(--color4);
    color: var(--color5);
}
.grid{
    background-color: var(--color5);
    color: var(--color1);
    height: 500px; /* calcula el 50% de la pantalla - 150px del header */
    width: 100%;
}
.flexgrid{
    background-color: var(--color5);
    color: var(--color1);
    height: 100px; /* calcula el 50% de la pantalla - 150px del header */
    width: 100%;
    /* margin-bottom: 30px; */
    padding: 20px;
}
#gridid {
    color: var(--color5);
    height: 60px;
    width: 300px;
    background-color: var(--color4);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px;
}
.grid span{
    color: var(--color2);
}
.gridi{
    height: 80px;
    width: 200px;
    background-color: var(--color3);
    border: 1px solid var(--color1);
}
.grid{
    display: flex;
}