*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --color1: #333;
    --color2: #ffa500;
    --color3: #fff;
    --font1: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 60px;
    width: 100%;
    background: var(--color2);
    padding: 20px;
}
.logo{
    float: left;
    font-size: 24px;
    font-family: var(--font1);
    font-weight: bold;
    color: #fff;
}
.logo span{
    color: #333;
}
.nav1{
    float: right;
}
.nav1 ul{
    list-style: none;
}
.nav1 ul li{
    display: inline-block;
    font-size: 24px;
}
.nav1 a{
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 20px;
    text-transform: capitalize;
}
.nav1 a:hover{
    color: var(--color1);
}
main{
    height: calc(100vh - 60px);
    width: 100%;
    background-image: url(img/pizza1.jpg);
    background-size: cover;
}
.call{
    float: right;
    height: 500px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.258);
}
h1{
    color: blueviolet;
    font-family: var(--font1);
    margin-bottom: 30px;
}
.call p{
    float: right;
    height: 500px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.461);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;

}
.call a{
    height: 50px;
    width: 100px;
    background-color: var(--color2);
    color: var(--color3);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    

}
h2{
    text-align: center;
    background-color: var(--color2);
    font-variant: small-caps;
    font-size: 35px;
}
.sec{
    height: 600px;
    width: 100%;
    background-color: var(--color1);
}
footer{
    height: 150px;
    width: 100%;
    background-color: var(--color2);
    text-align: center;
    padding: 20px;
}
footer p{
    text-align: center;
    font-family: var(--font1);
    font-size: 22px;
    margin-bottom: 20px;
}
footer i{
    /* text-align: center; */
    color: var(--color3);
    font-size: 50px;
    letter-spacing: 20px;
}
.subir{
    height: 50px;
    width: 50px;
    background-color: var(--color2);
    border: 2px solid var(--color3);
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: var(--color3);
    box-shadow: 0 0 5px 2px var(--color1);
}