.contenedor{
    height: 1200px;
    width: 900px;
    display: grid;
    border: 2px solid #000;
    background-color: gainsboro;
    grid-template-columns: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px;
    justify-items: center;
    align-items: center;
}